.post {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px;
    border: 1px solid;
}

.post__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.post__info_large{
      width: 100%;
    }
  
.post__date {
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}
  
.post__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
    
.post__img_large{
    width: 100%;
}

img {
    width: 100%;
    object-fit: contain;
}
  
.post__actions {
    display: flex;
    justify-content: space-between;
}
  
.post__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.post__icon:last-child {
    margin-right: 0;
}

    .post__text{
        display: none;
      }
  
      .post__info_small{
        width: 80%;
      }
  
      .post__img_small{
        width: 70%;
      }

.post__wrapper_large{
    display: flex;
    flex-direction: column;
}

.post_dark{
    background-color: rgb(73, 73, 73)
}

.post_dark .post__title{
  color: white;
}
    