.registration{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.registration__btn{
    cursor: pointer;
    border: 0;
    background-color: #fff;
    text-decoration: none;
}

.registration__btn:hover {
    text-decoration: underline;
}

.registration__wrapper{
    width: 400px;
    padding: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
}

.registration__title {
    margin-bottom: 25px;
}

.registration__content{
    margin-bottom: 15px;
}

.registration__content_text{
    font-size: 18px;
}

.registration__btn_complet{
    width: 100%;
    background-color: darkblue;
    padding: 15px;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.registration_dark .registration__btn{
    background-color: rgb(73, 73, 73);
    color: white;
}

.registration_dark .registration__wrapper{
    background-color: rgb(73, 73, 73);
}

.registration_dark .registration__content_text,
.registration_dark .registration__title{
    color: white;
}