.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal__show{
    display: block;
}

.modal__content {
    margin: auto;
    display: block;
    width: 500px;
    height: 700px;
}

.close {
    color: gray;
    position: absolute;
    top: 15px;
    right: 35px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover{
    background-color: #ae1ae8;
    transition: .3s;
}

.close:active{
    background-color: #d02bd9;
    transition: .3s;
}

@media (max-width: 768px){
    .modal__content{
        width: 400px;
        height: 600px;
        transform: translateY(10%);
    }
    .close{
        padding: 17px;
    }
}

@media (max-width: 500px){

    .modal__content{
        width: 280px;
        height: 500px;
        transform: translateY(10%);
    }
    .close{
        padding: 15px;
        right: 25px;
    }
}

