.posts{
  padding-top: 35px;
}
.posts__title {
    margin-bottom: 20px;
    font-size: 35px;
    margin-left: 40px;
}
  
.posts__wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "post-0 post-1 post-6"
        "post-0 post-1 post-7"
        "post-2 post-3 post-8"
        "post-2 post-3 post-9"
        "post-4 post-5 post-10"
        "post-4 post-5 post-11";
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.posts__tabs {
    display: flex;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .posts__tabs_item {
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    border: 0px;
    background-color: #fff;
  }
  
  .posts__tabs_item:hover::after{
    content: "";
    background-color: #babbc5;
    width: 100px;
    height: 3px;
    transition: all .3s;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
  }

  .posts__wrapper_flex{
    display: flex;
    flex-direction: column;
  }
  
  .posts_dark .posts__title{
    color: white;
  }

  .posts_dark .posts__tabs_item{
    background-color: rgb(73, 73, 73);
    color: white;
  }

  .posts_wrapper_flex{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }