.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.sign__btn {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    text-decoration: none;
}

.sign__btn:hover {
    text-decoration: underline;
}

.sign__wrapper {
    width: 400px;
    padding: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
}

.sign__title {
    margin-bottom: 25px;
}

.sign__input {
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.sign__forgot {
    border: 0;
    background-color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
}

.sign__forgot:hover{
    text-decoration: underline;
}

.sign__save {
    width: 100%;
    background-color: darkblue;
    padding: 15px;
    border: 0;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.sign__signup {
    display: flex;
    justify-content: center;
}

.sign__signup_btn {
    border: 0;
    background-color: #fff;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.sign__signup_btn:hover{
    text-decoration: underline;
}

.sign_dark .sign__btn,
.sign_dark .sign__forgot{
    background-color: rgb(73, 73, 73);
    color: white;
}

.sign_dark .sign__title {
    color: white;
}

.sign_dark .sign__wrapper{
    background-color: rgb(73, 73, 73);
}

.sign_dark .sign__input{
    border: none;
}

.sign_dark label{
    color: white;
}

.sign_dark .sign__signup_btn{
    background-color: rgb(73, 73, 73);
    color: rgb(0, 0, 52);
}

.sign_dark .sign__signup{
    color: white;
}

