.details__btn{
    background-color: #fff;
    border: none;
    width: 10%;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px;
}

.details__btn:hover{
  text-decoration: underline;
}

.details__title{
    margin-bottom: 15px;
}

.details__actions {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.details__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details__content-img {
    width: 85%;
    margin-bottom: 15px;
  }
  
  .details__content-text {
    width: 80%;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
.details__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.details__icon:last-child {
    margin-right: 0;
}

.details_dark{
  background-color: rgb(73, 73, 73)
}

.details_dark .details__btn{
  background-color: rgb(73, 73, 73);
  color: white;
}

.details_dark .details__title,
.details_dark .details__content-text{
  color: white;
}
 