.medium{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 300px;
    position: relative;
}

.medium__img{
    width: 300px;
    height: 150px;
}

.medium__date{
    margin: 10px 0;
}

.medium__title{
    margin-bottom: 15px;
    font-size: 20px;
}

.medium__img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .medium__img-container_first{
    display: flex;
    gap: 10px;
  }

  .medium__author {
    position: absolute; 
    bottom: 0; 
    margin: 0px; 
  }