
.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
label{
    font-weight: bold;
    font-size: 18px;
}

.sign__btn{
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

.sign__wrapper {
    width: 400px;
    padding: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
.sign_title {
    margin-bottom: 25px;
}
  
.sign__input {
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.sign__forgot{
    border: 0;
    background-color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
}
  
.sign__save{
    width: 100%;
    background-color: darkblue;
    padding: 15px;
    border: 0;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.sign__signup{
    display: flex;
    justify-content: center;
}

.sign__signup_btn{
    border: 0;
    background-color: #fff;
    color: blue;
    cursor: pointer;
}
