
.signs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
label{
    font-weight: bold;
    font-size: 18px;
}

.signs__btn{
    cursor: pointer;
    border: 0;
    background-color: #fff;
    text-decoration: none;
}

.signs__btn:hover {
    text-decoration: underline;
}

.signs__wrapper {
    width: 400px;
    padding: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
.signs__title {
    margin-bottom: 25px;
}
  
.signs__input {
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
  
.signs__save{
    width: 100%;
    background-color: darkblue;
    padding: 15px;
    border: 0;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.signs__signup{
    display: flex;
    justify-content: center;
}

.signs__signup_btn{
    border: 0;
    background-color: #fff;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.signs__signup_btn:hover{
    text-decoration: underline;
}

.signs_dark .signs__btn,
.signs_dark .signs__forgot{
    background-color: rgb(73, 73, 73);
    color: white;
}

.signs_dark .signs__title {
    color: white;
}

.signs_dark .signs__wrapper{
    background-color: rgb(73, 73, 73);
}

.signs_dark .signs__input{
    border: none;
}

.signs_dark label{
    color: white;
}

.signs_dark .signs__signup_btn{
    background-color: rgb(73, 73, 73);
    color: rgb(0, 0, 52);
}

.signs_dark .signs__signup{
    color: white;
}
